{% extends 'base.html' %}
{% block heading %}
<h1><b>Welcome to the Learning Portal</b></h1>
{% endblock %}
{% block content %}
<div class="album py-5 bg-light">
   <div class="container">
      <div class="row">
         {% for obj in course_obj %}
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
               <img src="{{obj.course_image.url}}" width='100%' height="225" class="bd-placeholder-img card-img-top">
               <div class="card-body">
                  <p class="card-text">{{obj.title}}</p>
                  <p class="card-text">{{obj.description|truncatewords:30}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                        <a href="{% url 'AssignmentApp:course_vedios_temp' obj.id %}" type="button" class="btn btn-sm btn-outline-secondary">View All</a>
                     </div>
                     <small class="text-muted">9 mins</small>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}